html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

p {
    font-size: 2rem;
}

.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

.entrada-blog a {
    display: inline-block;
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}



/** CODIGO AQUI **/

/* column drop: muestra como se colocan las columnas dependiendo del espacio disponible, 
ejemplo en imagen 'ejemplo_columnDrop' */
@media (min-width:480px) {
    .column-drop-css {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .segunda-columna {
        grid-column: 1 / 3;/* para que la primera columna ocupe el total de la primera fila */
        grid-row: 2 / 3; /* para que baje la segunda columna a la segunda fila */
    }

    .tercera-columna {
        grid-column: 1 /3; /* para que la columna 2 que está en la fila de abajo, ocupe todo el espacio de esa fila */

    }

    .tercera-columna {
        grid-column: 2 /3; /* para que la columna 3 que está en la fila de abajo, suba a la primera fila y se posicione en la
        parte de 2 a 3*/
        grid-row: 1 / 3;/* para que la columna 3 se posicione en la primera fila*/
    }
}

@media (min-width: 768px) {
    .column-drop-css {
        grid-template-columns: repeat(3, 1fr);
    }
    .segunda-columna{
        grid-column:  2 / 3;/* al eliminar la segunda fila, hacemos que el contenido de la segunda columna se mueva
        a la primera fila y ocupe la posicion del 2 al 3 */ 
        grid-row: unset; /* elimina la fila segunda */

    }

    .tercera-columna {
        grid-column: 3 / 4;/* para que la columna que está en la fila de abajo, ocupe todo el espacio de esa fila */
        grid-row: unset;
    }
}